<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="main-container">
        <h1>Enter OTP</h1>
        <hr>
        <form id="loginForm" action="./user" method="post" autocomplete="off">
            <div class="form-element col-6">
                <label class="PIN" for="PIN">Enter OTP sent to mobile number</label>
            </div>
            <div class="form-element col-6">
                <input name="otp" type="password" id="PIN" pattern="^[0-9]{4}$" placeholder="OTP" autofocus><br>
            </div>
            <div class="form-element">
                <button class="btn" id="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>