<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/bootstrap'); %> 
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
    <%- include('partials/navbar'); %>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <div class="container my-5 mx-5">
        <div id="chart" class="mx-auto"></div>
        <br>
        <script src="./js/random.js"></script>
    </div>
    <div id="question">
        <h1></h1>
    </div>
</body>
</html>
